.nav {
  width: 20vw;
  height: 100vh;
  min-width: 20rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: inset -1rem 0 0rem rgba($color: #e31b64, $alpha: 0.15);
  background-color: $color-primary;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);

  &__logo-box {
    width: 100%;
    max-height: 20rem;
    padding: 3rem 0;
    text-align: center;
    & img {
      width: 60%;
      max-width: 20rem;
    }
  }

  &__menu {
    width: 100%;
    padding: 0;
    list-style: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: $color-primary-light;
  }

  & .menu__item {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: stretch;
    padding: 2rem 15%;

    & span {
      width: 20%;
    }

    & a {
      width: 90%;
      text-decoration: none;
      color: inherit;
    }

    &:hover::after {
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background-color: rgba(#e31b64, 0.15);
      z-index: -1;
    }

    &.active {
      &::before {
        content: '';
        width: 10%;
        height: 50%;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        position: absolute;
        background-color: $color-white-light;

        clip-path: polygon(0% 50%, 100% 0, 100% 100%, 0% 50%);
        border-radius: 100;
      }
    }
  }
}
