<!DOCTYPE html>
<html lang='es'>
  <head>
    <meta charset='utf-8'>
    <title>Noa ~ 404</title>
    <link rel='icon' type='image/png' sizes='205x205' href='https://cdn.glitch.com/4eb7b550-2163-4aeb-88e7-348d9f108c90%2F455c33a6-ad3d-4102-8443-e038091f47cd.image.png'>
  </head>
  <link rel='stylesheet' type='text/css' href='index.css'>
  <body>
    <h1 align='center' class='italic'>Error 404. Página no encontrada.</h1>
  </body>
</html>
