* {
  &::after,
  &::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
}

html {
  // This is 1rem unit
  font-size: 62.5%;
  background-color: $color-white-light;
}

body {
  box-sizing: border-box;
}
