// colors
$color-primary: #ff8082;
$color-primary-light: #ffe1e1;

$color-secondary: #aa00ff;
$color-secondary-dark: #9527b0;

$color-tertiary: #4a2e38;

$color-white: #fff;
$color-white-light: #fef5ff;
