*::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background-color: #fef5ff;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.u-mb-big {
  margin-bottom: 4rem;
}

.u-mb-medium {
  margin-bottom: 2rem;
}

.u-mb-small {
  margin-bottom: 1rem;
}

.nav {
  width: 20vw;
  height: 100vh;
  min-width: 20rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: inset -1rem 0 0rem rgba(227, 27, 100, 0.15);
  background-color: #ff8082;
}
.nav__logo-box {
  width: 100%;
  max-height: 20rem;
  padding: 3rem 0;
  text-align: center;
}
.nav__logo-box img {
  width: 60%;
  max-width: 20rem;
}
.nav__menu {
  width: 100%;
  padding: 0;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffe1e1;
}
.nav .menu__item {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: stretch;
  padding: 2rem 15%;
}
.nav .menu__item span {
  width: 20%;
}
.nav .menu__item a {
  width: 90%;
  text-decoration: none;
  color: inherit;
}
.nav .menu__item:hover::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(227, 27, 100, 0.15);
  z-index: -1;
}
.nav .menu__item.active::before {
  content: "";
  width: 10%;
  height: 50%;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  position: absolute;
  background-color: #fef5ff;
  clip-path: polygon(0% 50%, 100% 0, 100% 100%, 0% 50%);
  border-radius: 100;
}

.header {
  width: 80vw;
  height: 7rem;
  max-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 20vw;
  border-bottom: 2px solid #ff8082;
  box-shadow: 0 0.6rem 0 rgba(255, 128, 130, 0.1);
  background-color: #fff;
}
.header__owners-container {
  display: flex;
}
.header__owners-container .owners-container__perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}
.header__owners-container .owners-container__perfil .perfil-info {
  margin: 0;
  padding: 0.5rem 3rem 0.5rem 1rem;
  border-radius: 100px;
  background-color: #ff8082;
  box-shadow: 0 3px 0 rgba(255, 128, 130, 0.1);
  font-style: italic;
  font-weight: 500;
  font-size: 1.5rem;
  color: #fef5ff;
}
.header__owners-container .owners-container__perfil .perfil-img {
  width: 4rem;
  height: 4rem;
  margin: 0;
  margin-left: -2rem;
  border-radius: 100%;
  box-shadow: 0 3px 0 rgba(255, 128, 130, 0.1);
  background-color: #ff8082;
}
.header__owners-container .owners-container__perfil .perfil-img img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}
.header__stats-container {
  display: flex;
}
.header__stats-container .stats {
  height: 30px;
  margin-right: 2rem;
  padding-right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #ff8082;
  box-shadow: 0 3px 0 rgba(255, 128, 130, 0.1);
  font-weight: 500;
  font-size: 1.5rem;
  color: #fef5ff;
}
.header__stats-container .stats-icon {
  width: 4rem;
  height: 4rem;
  margin-left: -1px;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 3px 0 rgba(255, 128, 130, 0.1);
  font-size: 2rem;
  color: #ff8082;
}
.header__contact {
  display: flex;
  align-items: center;
}
.header__contact a {
  margin-right: 2rem;
  font-size: 3rem;
  color: #ff8082;
}
.header__contact a:last-child {
  margin-right: 0;
}

.main {
  padding: 4rem 15rem;
  position: fixed;
  left: 20vw;
  top: 10vh;
  height: 80vh;
  font-size: 1.8rem;
  overflow-y: scroll;
}
.main::-webkit-scrollbar-track {
  background-color: #fef5ff;
  border-radius: 10px;
}
.main::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #fef5ff;
}
.main::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ff8082;
}

.btn:active, .btn:link {
  display: inline-block;
  position: relative;
  padding: 1.3rem 4rem;
  text-transform: capitalize;
  text-decoration: none;
  border-radius: 10rem;
  font-size: 1.8rem;
  transition: all 0.2s;
}
.btn-invite-me {
  background-color: #aa00ff;
  color: #ffe1e1;
  box-shadow: 0 0.6rem 0 rgba(170, 0, 255, 0.2);
}
.btn:hover {
  transform: translateY(-0.3rem);
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.3rem 0 rgba(170, 0, 255, 0.2);
}
.btn-menu {
  width: 6rem;
  height: 6rem;
  position: fixed;
  bottom: 5vh;
  right: 10vw;
  display: none;
  outline: none;
  border: none;
  border-radius: 100%;
  background-color: #ff8082;
  color: #ffe1e1;
  font-size: 1.6rem;
}

@media (max-width: 1000px) {
  .header {
    width: 100vw;
    left: 0;
    justify-content: space-evenly;
  }

  .nav {
    left: 100vw;
    z-index: 200;
  }

  .main {
    left: 0;
  }

  .btn-menu {
    display: block;
  }
}
@media (max-width: 480px) {
  .header__owners-container {
    display: none;
  }

  .nav {
    width: 100vw;
  }

  .main {
    padding: 4rem;
  }
}
@media (max-width: 320px) {
  .header__stats-container .stats {
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=index.css.map */
